 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     margin: 30px 0;

     font-family: Inter;
 }

 .navebar,
 .flower,
 .our-plants,
 .image-flower,
 .badge-img,
 .lover,
 .latest-deals,
 .off,
 .all-footer {
     max-width: 1140px;
     margin: auto;
 }

 h2 {
     margin: 0;
 }

 nav li {
     list-style: none;

 }

 .navebar,
 .list {
     display: flex;
     justify-content: space-between;
 }

 .nav-item {
     list-style: none;
     padding: 0 48px;
 }

 a {
     text-decoration: none;
 }

 .nav-item:first-child {
     color: #252432;
 }

 .nav-item:last-child {
     color: #000000;
     white-space: nowrap;
 }

 .nav-item:nth-child(2),
 .nav-item:nth-child(3) {
     color: #8987A1;
 }

 .text-gray {
     color: rgba(0, 0, 0, 0.5);
 }

 .flower {
     display: flex;
     align-items: center;
     margin-top: 282px;
 }

 .title {
     font-size: 65px;
 }

 .text-primary {
     color: #E95A08;
 }

 .button {
     color: #FFFFFF;
     background-color: #E95A08;
     border: #FFFFFF;
     padding: 20px 80px;
 }

 .Subscribe {
     color: #FFFFFF;
     background-color: #E95A08;
     border: #FFFFFF;
     padding: 20px 53px;
     margin-left: -5px;
 }

 .email {
     width: 644px;
     border-color: transparent;
     height: 50px;
     padding: 0 8px;

 }

 .our-plants {
     text-align: center;
 }

 .our-plants p {
     color: rgba(0, 0, 0, 0.5);
 }

 .image-flower {
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(4, 1fr);
     text-align: center;
 }

 .image-flower p {
     font-size: 22px;
     margin-bottom: 20px;
 }

 .image-flower h4 {
     font-size: 22px;
     font-weight: bold;
     margin-top: 0;
 }

 .lover {
     display: flex;
     gap: 60px;
     align-items: center;
     margin-top: -150px;
 }

 .lover-title {
     font-size: 50px;
 }

 .badge {
     width: 286px;
     height: 286px;
     margin-left: 350px;
     margin-top: 80px;
     filter: drop-shadow(30px 10px 40px rgba(0, 0, 0, 0.25));
 }

 .lover ul {
     padding-left: 20px;
 }

 .lover ul li p {
     font-size: 22px;
     text-align: justify;
 }

 .latest-deals {
     text-align: center;
     margin-bottom: 125px;
 }

 .Deals-title {
     font-size: 50px;

 }

 .bloom {
     text-align: center;
     color: #FFFFFF;
     width: 366px;
     height: 201px;
     background-color: rgba(0, 0, 0, 0.5);
     background-blend-mode: darken;
     background-image: url('assets/deal-bloom.png');
     background-repeat: no-repeat;
     margin-bottom: 25px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .bloom p,
 .Plan p {
     margin-bottom: 0;
 }

 .Plan {
     text-align: center;
     color: #FFFFFF;
     width: 366px;
     height: 197px;
     background-image: url('assets/deal-ana.png');
     background-repeat: no-repeat;
     background-position: contain;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.5);
     background-blend-mode: darken;
 }

 .icon {
     display: flex;
     gap: 24px;


 }

 .icon img {
     width: 36px;
     height: 36px;
 }

 .Zabo {
     text-align: center;
     color: #FFFFFF;
     width: 753px;
     height: 423px;
     background-image: url('assets/deal-zabo.png');
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.5);
     background-blend-mode: darken;
 }

 .colorful {
     text-align: center;
     color: #FFFFFF;
     /* width: 1440px; */
     height: 533px;
     margin-top: 120px;
     background-image: url('assets/news-letter-bg.png');
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-size: cover;

 }


 .img-list {
     display: flex;
     justify-content: space-between;

 }

 .off {
     display: flex;
     gap: 28px;
 }

 .all-footer {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;

 }

 .all-footer ul {
     list-style: none;
 }

 .all-footer ul li {
     padding-bottom: 20px;
 }

 .bloom,
 .Plan,
 .Zabo {
     border-radius: 14px;
 }


 @media screen and (min-width: 320px) and (max-width: 992px) {

     .navebar,
     .flower,
     .our-plants,
     .image-flower,
     .badge-img,
     .lover,
     .latest-deals,
     .off,
     .all-footer {
         padding: 0 16px;
     }

     .navebar img {
         width: 63px;
         height: 38px;
     }

     .nav-item {
         padding: 0px;
     }


     .nav-item:nth-child(1),
     .nav-item:nth-child(2),
     .nav-item:nth-child(3) {
         display: none;
     }

     .flower {
         flex-direction: column;
     }

     .flower img {
         width: 100%;
     }

     .flower .flower-content {
         order: 1;
     }

     .flower .title,
     .our-plants .title {
         font-size: 22px;
     }

     .image-flower {
         grid-template-columns: repeat(2, 1fr);
     }

     .image-flower p,
     .image-flower h4 {
         font-size: 16px;
     }

     .image-flower img {
         width: 100%;
     }

     .image-flower .button {
         padding: 20px 20px;
         white-space: nowrap;
         font-size: 12px;
     }

     .badge-img {
         display: none;
     }

     .lover {
         flex-direction: column;
         margin-top: 100px;
     }

     .lover img {
         width: 100%;
     }

     .lover-title, .latest-deals h3 {
         font-size: 24px;
     }

     .off,
     .all-footer {
         flex-direction: column;
     }

     .bloom,
     .Plan,
     .Zabo {
         width: 100%;
         height: 172px;
     }

     .colorful {
         width: 100%;
         height: 276px;
     }

     .colorful div {
         padding: 0 36px;
     }

     .email {
         width: 218px;
     }

     .Subscribe {

         padding: 20px 12px;
         margin-left: -5px;
     }

     .colorful .white-email {
         display: flex;
         justify-content: center;
     }

     .all-footer ul {
         padding: 0;
     }

     .flower {

         margin-top: 50px;
     }

 }