@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 30px auto;
    max-width: 1140px;
}

nav li {
    list-style: none;
   
}

.navebar,
.list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    padding: 0 48px;
}

a {
    text-decoration: none;
}

li:first-child{
    color:#252432;
}
.li:last-child{
    color: #000000;
}
li:nth-child(2), li:nth-child(3) {
    color: #8987A1;
}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
}
.flower{
    display: flex;
    align-items: center;
    margin-top: 282px;
}
.title{
    font-size: 65px;
}
.text-primary{
    color: #E95A08;
}